/* SkeletonLoader.css */

.skeleton-loader-container {
  width: 100%;
  border-collapse: collapse; /* Collapse the borders between cells */
}

.skeleton-row {
  height: 60px; /* Set the height of each skeleton row */
  background-color: #f0f0f0; /* Set the background color for the skeleton rows */
}

.skeleton-row:nth-child(even) {
  background-color: #e0e0e0; /* Alternate background color for even rows */
}

.skeleton-cell {
  border: 1px solid #ddd; /* Add border between cells */
  padding: 18px; /* Add padding to cells */
}
